@model IEnumerable<Ecommerce.ViewModels.HangHoaViewModel>
<h1 class="fw-bold mb-0">Related products</h1>
<div class="vesitable">
	<div class="owl-carousel vegetable-carousel justify-content-center">
		<div class="border border-primary rounded position-relative vesitable-item">
			@foreach (var item in Model)
			{
				<div class="vesitable-img">
					<a asp-action="Detail" asp-controller="HangHoa" asp-route-id="@item.MaHh">
						<img src="~/Hinh/HangHoa/@item.Hinh" class="img-fluid w-100 rounded-top" alt="@item.TenHH">
					</a>
				</div>
				<div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">@item.TenLoai</div>
				<div class="p-4 pb-0 rounded-bottom">
					<a asp-action="Detail" asp-controller="HangHoa" asp-route-id="@item.MaHh">
						<h4>@item.TenHH</h4>
						<p>@item.MoTaNgan</p>						
						<div class="d-flex justify-content-between flex-lg-wrap">
							<p class="text-dark fs-5 fw-bold mb-0">$@item.DonGia</p>
							<form asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.MaHh" method="post">
								<input type="hidden" name="quantity" value="1" />
								<button type="submit" class="btn border border-secondary rounded-pill px-3 text-primary">
									<i class="fa fa-shopping-bag me-2 text-primary"></i> Đưa vào giỏ
								</button>
							</form>
						</div>
					</a>
				</div>
			}
		</div>
</div>